/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables Storage */
:root {
    /* -- Root Colors -- */
    --color-white: #ffffff;
    --color-black: #000000;

    /* Header Section */
    --header-bg-principal: #3161e0;

    /* Main Content */  
    --color-title: #23272a;
    --main-bg-section: #f6f6f6;

    /* Footer Top Section */
    --footer-bg-principal: #23272a;

    /* Buttons per Type */
    --btn-lblue: #8ea1e1;
    --btn-white: #ffffff;
    --btn-graphite: #23272a;

        /* -- Root Fonts --*/
        --font-primary: 'Noto Sans', sans-serif;
        
        /* Font Weight */
        --fweight-primary: 300;
        --fweight-secondary: 500;
        --fweight-headline-title: 800;
        --fweight-btn: 200;
}

/* ---- CSS Structure Begin ----  */

/* Principal Main Tags */
body {
    font-family: var(--font-primary);
    font-weight: var(--fweight-primary);
}

a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: var(--fweight-secondary);
}

header {
    background-color: var(--header-bg-principal);
    background-image: url(../img/jumbo.png);
    background-repeat: none;
    background-size: cover;
}

.page-center {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    /* Can't go anywhere under 400pixels  */
    min-width: 400px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.wrapper-space {
    padding: 10rem 0;
}

.border-dash {
    border: 2px dashed lime;
}

.text-center {
    text-align: center;
}

    /* Buttons Section */
    .btn-small {
        border-radius: 40px;
        font-size: 14px;
        padding: 7px 16px;
    }

    .btn-large {
        border-radius: 28px;
        font-size: 20px;
        padding: 16px 32px;
    }



/* Header Section */
.nav {
    padding-top: 2rem;
    background-color: var(--head-bg-color);
}

.nav-wrapper {
    background-color: var(--nav-bg-color);
    border: 2px dashed red;
}

    .nav-list-container{
        flex: 2 1 60%;
    } 

        .nav-list {
            display: flex;
            justify-content: center;
            width: 100%;
            list-style: none;
            gap: 2rem;
            /* padding: 8px 5px; */
        }

    .logo {
        display: flex;
        justify-content: flex-start;
        flex: 1 1 20%;
        /* padding: 8px 5px; */
        cursor: pointer;
    }

    .login {
        display: flex;
        justify-content: flex-end;
        flex: 1 1 20%;
        /* padding: 8px 5px; */
    }

    .btn-login {
        color: var(--color-black);
        background-color: var(--color-white);
    }




/* Hero Section */
.hero {
    background-color: var(--hero-bg-color);
}

.hero-wrapper {
    padding: 5rem 2rem;
}

.hero-carousel {
    flex-direction: column;
    background-color: var(--carousel-bg-color);
    flex-basis: 100%;
    margin: 0 70px;
}

    /* Hero Text Area Section */
    .hero-text-area > h1 {
        font-weight: 800;
        font-size: 56px;
        color: var(--btn-white);
        text-transform: uppercase;
    }

    .hero-text-area > p {
        margin-top: 40px;
        font-size: 20px;
        font-weight: var(--fweight-secondary);
        line-height: 1.625;
        color: var(--color-white);
    }

    /* Hero Btn Section */
    .hero-btn-call-action {
        justify-content: center;
        gap: 2.2rem;
        margin-top: 30px;
    }

    .hero-btn-call-action > 
    .btn-large:nth-child(1) {
        color: var(--btn-graphite);
        background-color: var(--color-white);
    }

    .hero-btn-call-action > 
    .btn-large:nth-child(2) {
        color: var(--color-white);
        background-color: var(--btn-graphite);
    }




/* Main Section */
.content-wrapper {
    overflow: hidden;
    gap: 4rem;
    align-items: flex-start;
}

.text-content {
    background-color: var(--cont-bg-primary);
    width: 40%;
}

.image-content {
    background-color: var(--cont-bg-secondary);
    width: 60%;
}

.main-img-sect {
    width: 95%;
}

.text-module-area {
    flex-direction: column;
    row-gap: 1rem;
}

.main-module-title {
    font-size: 48px;
    color: var(--color-title);
}

.main-module-parag {
    margin-top: 24px;
    font-size: 1.3rem;
    line-height: 1.625;
    color: var(--color-title);
    font-weight: var(--fweight-secondary);
}

/* Adavanced Selector */
.main-content:nth-child(2) {
    background-color: var(--main-bg-section);
}

.main-content:nth-child(2)>
.content-wrapper {
    flex-direction: row-reverse;
}



/* Special Section */
.special {
    background-color: var(--main-bg-section);
}

.special-content {
    background-color: var(--cont-bg-special);
    width: 100%;
}
    .special-text-area> h2 {
        font-weight: 800;
        font-size: 48px;
        color: var(--color-title);
    }

    .special-text-area > p {
        margin-top: 40px;
        font-size: 20px;
        font-weight: var(--fweight-secondary);
        line-height: 1.625;
        color: var(--color-title);
    }

    .special-image-content > img {
        width: 100%;
        object-fit: cover;
        margin-top: 16px;
    }

.special-btn-call-action {
    flex-direction: column;
    row-gap: 2rem;
}

    .special-btn-call-action > 
    .btn-large:only-of-type {
        color: var(--color-white);
        background-color: var(--btn-lblue);
    }

    .special-btn-call-action > h3 {
        font-weight: var(--fweight-headline-title);
        font-size: 1.5rem;
        color: var(--color-title);
    }



/* Footer Section   */
.footer-top {
    background-color: var(--foot-bg-color);
    padding: 10px 0 30px 0;
    margin: 0 0 3px 0;
}

    .footer-aside {
        height: 500px;
        background-color: var(--column-bg-primary);
        width: 40%;
        border: 3px dashed black;
    }

    .column-links{
        height: 500px;
        /* Added calc for divide columns in 4 */
        width: calc(60% / 4);
        background-color: var(--column-bg-color);
        border: 2px dashed white;
    }


.footer-bottom {
    background-color: var(--foot-bg-color);
    padding-top: 20px;
} 

    .footer-wrapper-bottom {
        justify-content: space-between;
        background-color: var(--cont-bg-color);
        height: 60px;
    }

    .btn {
        color: white;
        background-color: var(--button-bg-color);
        padding: 6px;
    }

